name: Publish to PyPi

on:
  workflow_call:

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Publish
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11.4
      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.6.5"
      - name: Install the project
        run: uv sync --locked --all-extras
      - name: Build project for distribution
        run: uv build
      - name: Publish to PyPI
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: uv publish
