name: Run Project Unit Tests

on:
  workflow_call:

jobs:
  unitTests:
    runs-on: ubuntu-latest
    name: Unit Tests
    env:
      COVERAGE_SINGLE: 85
      COVERAGE_TOTAL: 90
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11.2'
      - id: run-tests
        uses: dima-engineer/pytest-reporter@v4
        with:
          pytest-root-dir: ./
          cov-omit-list: pydantic_secrets/warnings.py, tests/*
          cov-threshold-single: ${{ env.COVERAGE_SINGLE }}
          cov-threshold-total: ${{ env.COVERAGE_TOTAL }}
          poetry-version: 1.5.1
