name: Validate Python Code

on:
  workflow_call:

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Code Validation
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11.2'
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: '0.9.17'
      - name: Install dependencies
        run: |
          uv sync --locked --all-extras --dev
      - name: Install Lets
        uses: lets-cli/lets-action@v1.1
        with:
          version: "v0.0.57"
      - name: Run Validation
        run: lets validate
